*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(95, 65, 25, 0.30), rgb(25, 12, 5)), url(../images/restoran.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.back{
    padding: 20px;
    background-color: white;
}

.back a{
    color: rgba(95, 65, 25);
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
}

.back a:hover{
    text-decoration: none;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    color: white;
    font-size: 64px;
    margin-top: 20px;
    text-decoration: underline;
}

.content-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-box{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: rgb(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
}

.item-desc h2{
    font-size: 45px;
    margin-bottom: 10px;
    color: white;
}

.item-desc p, .add-item label{
    color: rgb(255,255,255,0.75);
}

.content-box img{
    width: 13vw;
    height: 13vw;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid white;
}

.add-item{
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: 10px;
    align-items: normal;
    padding: 30px;
}

.add-item input{
    width: 92%;
    padding: 5px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.add-item .input-btn{
    cursor: pointer;
    width: 100%;
    color: white;
    border: 1px solid white;
    background-color: rgb(66, 40, 22);
    cursor: pointer;
    transition: 0.3s;
}

.input-btn:hover{
    scale: 103%;
    background-color: rgb(96, 59, 33);
}